body {
    font-family: 'Arial, sans-serif';
    background-color: #f0f0f0;
    color: #333;
    transition: background 0.5s ease-in-out;
}

body:hover {
    background-color: #e0e0e0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: linear-gradient(45deg, #f06, blue);
    z-index: -1;
    filter: blur(20px);
}

.container:hover {
    transform: scale(1.01);
}

.upload-section, .output-section {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff9;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #444;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="file"], select, input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

#outputImage {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
